/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/* General and Body Styles */
html,
body {
  height: 100%;

  /* Font Styles */
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;

  /* Colors */
  --gray: #e1e1e6;
  --black: #202024;
}

body {
  display: grid;
  place-items: center;
}

main {
  background: url(/images/bg.png) no-repeat;
  width: 375px;
  color: var(--gray);
  height: 812px;
}

.container {
  max-width: 260px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 1.5rem;
}

a {
  color: var(--gray);
}
